@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #ffb100; }

.mobilegesture {
  overflow-x: hidden !important;
  overflow-y: scroll !important; }

body {
  overflow-x: hidden;
  overflow-y: hidden; }
  body::-webkit-scrollbar {
    display: none; }

video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  -o-object-fit: inherit;
  object-fit: inherit;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  overflow: hidden;
  z-index: 0; }

#logo {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: block;
  position: fixed;
  top: 0;
  left: 0; }
  #logo svg {
    width: 100%;
    height: 100%; }
    #logo svg circle {
      cx: 50%;
      cy: 50%;
      stroke: #ffb100;
      stroke-width: 70%;
      fill: transparent; }
  #logo img {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    opacity: 1; }

#renkli-hero {
  display: none; }

#normal-hero {
  display: block; }

#scrollIt {
  z-index: 2;
  display: block;
  position: fixed;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  font-family: 'Titillium Web', sans-serif;
  color: #fdfdfd;
  font-size: 15px; }
  #scrollIt .mouseWhell {
    height: 30px;
    padding: 20px 0;
    background: url("../../src/images/mousegif.gif");
    background-size: 58px;
    background-repeat: no-repeat; }
  #scrollIt p {
    text-align: center; }

.menuflay {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  display: none;
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 17, 20, 0.3)), to(#333333));
  background: linear-gradient(180deg, rgba(12, 17, 20, 0.3) 0%, #333333 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0C1114', endColorstr='#333333', GradientType=0);
  /* ie6-9 */ }

#siteBottom {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 600px;
  z-index: 9; }
  #siteBottom .trainersWrapper {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    padding: 50px 0 70px 0;
    background: #252322; }
    #siteBottom .trainersWrapper #tumunu {
      position: relative;
      margin: 20px 0;
      display: block; }
      #siteBottom .trainersWrapper #tumunu a {
        z-index: 99;
        text-align: center;
        position: relative;
        margin: 0 auto;
        padding: 14px 25px;
        border: 1px solid #fdfdfd;
        color: #fff;
        width: 150px;
        display: block;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 700;
        text-decoration: none; }
        #siteBottom .trainersWrapper #tumunu a .gridtxt {
          display: inline-block;
          padding: 0 10px 0 0; }
        #siteBottom .trainersWrapper #tumunu a:hover > .grid > #m1 {
          top: -2.5px;
          left: -2.5px; }
        #siteBottom .trainersWrapper #tumunu a:hover > .grid > #m2 {
          top: -2.5px; }
        #siteBottom .trainersWrapper #tumunu a:hover > .grid > #m3 {
          top: -2.5px;
          left: 17.5px; }
        #siteBottom .trainersWrapper #tumunu a:hover > .grid > #m4 {
          left: -2.5px; }
        #siteBottom .trainersWrapper #tumunu a:hover > .grid > #m6 {
          left: 17.5px; }
        #siteBottom .trainersWrapper #tumunu a:hover > .grid > #m7 {
          top: 17.5px;
          left: -2.5px; }
        #siteBottom .trainersWrapper #tumunu a:hover > .grid > #m8 {
          top: 17.5px; }
        #siteBottom .trainersWrapper #tumunu a:hover > .grid > #m9 {
          top: 17.5px;
          left: 17.5px; }
        #siteBottom .trainersWrapper #tumunu a .grid {
          width: 25px;
          height: 25px;
          display: inline-block;
          margin-bottom: -8px;
          position: relative; }
          #siteBottom .trainersWrapper #tumunu a .grid span {
            position: absolute;
            width: 5px;
            height: 5px;
            background: #fff;
            -webkit-transition: .15s all ease;
            transition: .15s all ease; }
          #siteBottom .trainersWrapper #tumunu a .grid #m1 {
            top: 0;
            left: 0; }
          #siteBottom .trainersWrapper #tumunu a .grid #m2 {
            top: 0px;
            left: 7.5px; }
          #siteBottom .trainersWrapper #tumunu a .grid #m3 {
            top: 0;
            left: 15.5px; }
          #siteBottom .trainersWrapper #tumunu a .grid #m4 {
            top: 7.5px;
            left: 0; }
          #siteBottom .trainersWrapper #tumunu a .grid #m5 {
            top: 7.5px;
            left: 7.5px; }
          #siteBottom .trainersWrapper #tumunu a .grid #m6 {
            top: 7.5px;
            left: 15.5px; }
          #siteBottom .trainersWrapper #tumunu a .grid #m7 {
            top: 15.5px;
            left: 0; }
          #siteBottom .trainersWrapper #tumunu a .grid #m8 {
            top: 15.5px;
            left: 7.5px; }
          #siteBottom .trainersWrapper #tumunu a .grid #m9 {
            top: 15.5px;
            left: 15.5px; }
    #siteBottom .trainersWrapper .band {
      width: 500%;
      background: #01ff6b;
      height: 702px;
      z-index: 0;
      position: absolute;
      top: 0;
      left: -500px;
      opacity: 1;
      -webkit-transform: rotate(-18deg);
      transform: rotate(-18deg); }
    #siteBottom .trainersWrapper h1 {
      position: absolute;
      top: -38px;
      left: -16px;
      font-size: 9.1rem;
      color: #01ff6b;
      opacity: .30;
      font-family: 'CaptureIt', sans-serif;
      font-weight: 400; }
    #siteBottom .trainersWrapper p {
      position: absolute;
      bottom: -33px;
      right: -10px;
      font-size: 13rem;
      color: #999;
      opacity: .12;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 900;
      text-align: right; }
    #siteBottom .trainersWrapper #sporlar {
      overflow: hidden;
      position: relative;
      display: block;
      padding: 20px 0;
      margin: 0 auto !important;
      width: calc(100% - 150px);
      width: -o-calc(100% - 150px); }
      #siteBottom .trainersWrapper #sporlar li {
        position: relative;
        display: block;
        float: left;
        width: 33.33%;
        text-align: center;
        padding: 40px 0;
        z-index: 6;
        margin: 40px 0; }
        #siteBottom .trainersWrapper #sporlar li h6 {
          position: relative;
          text-align: center;
          display: inline-block;
          top: 0;
          right: 0;
          background: #ffb100;
          font-size: 17px;
          font-weight: 700;
          font-family: 'Titillium Web', sans-serif;
          font-style: italic;
          padding: 5px 15px;
          margin-bottom: 10px;
          color: #252322;
          transform: skew(10deg); }
        #siteBottom .trainersWrapper #sporlar li h4 {
          font-size: 25px;
          font-family: 'Titillium Web', sans-serif;
          color: #fdfdfd;
          padding: 0 0 20px 0;
          font-weight: 600;
          text-shadow: 0 2px 7px rgba(37, 35, 34, 0.36); }
          #siteBottom .trainersWrapper #sporlar li h4::after {
            content: '';
            position: relative;
            width: 2px;
            height: 25px;
            display: block;
            background: rgba(255, 255, 255, 0.3);
            text-align: center;
            margin: 5px 50%; }
        #siteBottom .trainersWrapper #sporlar li #don {
          position: absolute;
          top: 25%;
          display: block;
          left: 0;
          width: 265px;
          height: 247px;
          background: #ffffff;
          opacity: 1;
          z-index: 1;
          border-radius: 50%;
          -webkit-transform: translate(13%, 5%) rotate(457deg);
          transform: translate(13%, 5%) rotate(457deg);
          -webkit-animation: 8s dondur infinite;
          animation: 8s dondur infinite; }
        #siteBottom .trainersWrapper #sporlar li #zumb:hover {
          background: #e72a49 !important; }
        #siteBottom .trainersWrapper #sporlar li #bos:hover {
          background: #ffbf2d !important; }
        #siteBottom .trainersWrapper #sporlar li #fit:hover {
          background: #3bb0ec !important; }
        #siteBottom .trainersWrapper #sporlar li #cross:hover {
          background: #ff8100 !important; }
        #siteBottom .trainersWrapper #sporlar li #pila:hover {
          background: #01ff6b !important; }
        #siteBottom .trainersWrapper #sporlar li span {
          position: relative;
          display: block;
          width: 300px;
          height: 300px;
          background: #524d4d;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;
          z-index: 9999;
          -webkit-box-shadow: 0 0 15px #111;
          box-shadow: 0 0 15px #111;
          -webkit-transition: 0.1s all cubic-bezier(0.47, 0, 0.745, 0.715);
          transition: 0.1s all cubic-bezier(0.47, 0, 0.745, 0.715); }
          #siteBottom .trainersWrapper #sporlar li span:hover {
            -webkit-transform: scale(1.15);
            transform: scale(1.15); }
          #siteBottom .trainersWrapper #sporlar li span:hover > img {
            -webkit-transform: scale(1.2);
            transform: scale(1.2); }
          #siteBottom .trainersWrapper #sporlar li span img {
            z-index: 99999;
            height: 100%;
            -webkit-transition: .2s all ease;
            transition: .2s all ease;
            filter: drop-shadow(0px 0px 7px #333);
            -webkit-filter: drop-shadow(0px 0px 7px #333);
            -moz-filter: drop-shadow(0px 0px 7px #333);
            -ms-filter: drop-shadow(0px 0px 7px #333);
            -o-filter: drop-shadow(0px 0px 7px #333); }
        #siteBottom .trainersWrapper #sporlar li:before, #siteBottom .trainersWrapper #sporlar li:after {
          clear: both; }
  #siteBottom .hall {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%; }
    #siteBottom .hall .detay1 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      height: 60%;
      padding: 20px;
      /*&:after{
          content: '';
          position: absolute;
          width: 90%;
          height: 100%;
          background: #63008a;
          top: -73px;
          left: -81px;
          border-radius: 50%;
          opacity: .2;
          z-index: -1;
      }*/ }
      #siteBottom .hall .detay1 h3 {
        color: #fdfdfd;
        font-family: 'Titillium Web', sans-serif;
        font-size: 23px;
        font-weight: 600;
        padding: 0 0 10px 0;
        text-align: center; }
      #siteBottom .hall .detay1 p {
        color: #222;
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.2rem;
        display: block;
        height: 90%;
        text-overflow: ellipsis;
        overflow: hidden; }
        #siteBottom .hall .detay1 p:after {
          content: '';
          position: absolute;
          top: 4px;
          right: -27px;
          width: 78px;
          height: 3px;
          background: #dc2142; }
        #siteBottom .hall .detay1 p:before {
          content: '';
          position: absolute;
          width: 3px;
          height: 31px;
          background: #dc2142;
          top: 7px;
          right: 0; }
    #siteBottom .hall .detay2 {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 77%;
      z-index: 94;
      padding: 20px;
      /*&:after{
          content: '';
          position: absolute;
          width: 90%;
          height: 100%;
          background: #63008a;
          top: -73px;
          left: -81px;
          border-radius: 50%;
          opacity: .2;
          z-index: -1;
      }*/ }
      #siteBottom .hall .detay2 h3 {
        color: #fdfdfd;
        font-family: 'Titillium Web', sans-serif;
        font-size: 23px;
        font-weight: 600;
        padding: 0 0 10px 0;
        text-align: center; }
      #siteBottom .hall .detay2 p {
        color: #222;
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.2rem;
        display: block;
        height: 90%;
        text-overflow: ellipsis;
        overflow: hidden; }
        #siteBottom .hall .detay2 p:after {
          content: '';
          position: absolute;
          top: 4px;
          left: -27px;
          width: 78px;
          height: 3px;
          background: #dc2142; }
        #siteBottom .hall .detay2 p:before {
          content: '';
          position: absolute;
          width: 3px;
          height: 31px;
          background: #dc2142;
          top: 7px;
          left: 0; }
    #siteBottom .hall .hall1 {
      height: 750px; }
      #siteBottom .hall .hall1 .left {
        position: relative;
        width: 50%;
        float: left;
        height: 100%;
        background-size: cover;
        background-image: url(../../src/images/mekan1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden; }
        #siteBottom .hall .hall1 .left .dans {
          font-family: 'Titillium Web', sans-serif;
          font-weight: 900;
          font-size: 9rem;
          position: absolute;
          top: 170px;
          left: -550px;
          z-index: 4;
          -webkit-transition: 3.5s all cubic-bezier(0.1, 0.58, 0.39, 1.06);
          transition: 3.5s all cubic-bezier(0.1, 0.58, 0.39, 1.06); }
          #siteBottom .hall .hall1 .left .dans span {
            display: block;
            font-size: 3rem;
            font-weight: 700;
            color: #ffb100;
            text-shadow: 0 0 10px #444; }
            #siteBottom .hall .hall1 .left .dans span:last-child {
              -webkit-transform: translateX(70px);
              transform: translateX(70px); }
@-webkit-keyframes dansh {
  0% {
    left: 50px; }
  50% {
    left: 55px; }
  100% {
    left: 50px; } }
@keyframes dansh {
  0% {
    left: 50px; }
  50% {
    left: 55px; }
  100% {
    left: 50px; } }
        #siteBottom .hall .hall1 .left .dancershadow {
          position: absolute;
          bottom: -100px;
          left: 150px;
          width: 300px;
          -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
          -webkit-transition: 3s all cubic-bezier(0.1, 0.58, 0.39, 1.06);
          transition: 3s all cubic-bezier(0.1, 0.58, 0.39, 1.06); }
        #siteBottom .hall .hall1 .left .dancershadow_active {
          bottom: 0px;
          left: 107px;
          width: 399px !important; }
        #siteBottom .hall .hall1 .left .dancer {
          position: absolute;
          width: 300px;
          bottom: -1px;
          left: 116px;
          z-index: 6;
          -webkit-transition: 3s all cubic-bezier(0.1, 0.58, 0.39, 1.06);
          transition: 3s all cubic-bezier(0.1, 0.58, 0.39, 1.06); }
        #siteBottom .hall .hall1 .left .dancer_active {
          bottom: 25px;
          left: 151px; }
        #siteBottom .hall .hall1 .left .salonu {
          font-family: 'Titillium Web', sans-serif;
          font-weight: 900;
          font-size: 7rem;
          position: absolute;
          top: 405px;
          z-index: 7;
          right: -550px;
          color: #ffb100;
          text-shadow: 0 0 27px #222;
          -webkit-transition: 2.5s all cubic-bezier(0.1, 0.58, 0.39, 1.06);
          transition: 2.5s all cubic-bezier(0.1, 0.58, 0.39, 1.06); }
        #siteBottom .hall .hall1 .left .salonu_active {
          right: 85px !important;
          letter-spacing: -18px; }
        #siteBottom .hall .hall1 .left .dans_active {
          left: 50px;
          /*animation-delay: 3s;
          animation: 2s dansh infinite;*/ }
      #siteBottom .hall .hall1 .right {
        position: relative;
        width: 50%;
        float: left;
        height: 100%;
        background: #d47d88; }
        #siteBottom .hall .hall1 .right h1 {
          position: absolute;
          top: -20px;
          right: 3px;
          font-size: 5rem;
          font-family: 'Titillium Web', sans-serif;
          color: #ffb100;
          font-weight: 900;
          text-shadow: 3px 5px 0px #111; }
        #siteBottom .hall .hall1 .right:after, #siteBottom .hall .hall1 .right:before {
          clear: both; }
    #siteBottom .hall .hall2 {
      height: 750px; }
      #siteBottom .hall .hall2 .right {
        overflow: hidden;
        width: 65%;
        float: left;
        height: 100%;
        background-size: cover;
        background-image: url(../../src/images/mekan3.jpg);
        background-position: center center;
        background-repeat: no-repeat; }
      #siteBottom .hall .hall2 .left2 {
        position: relative;
        width: 35%;
        float: left;
        height: 100%;
        background: #836d5e; }
        #siteBottom .hall .hall2 .left2 p:after {
          content: '';
          position: absolute;
          top: 4px;
          left: -27px;
          width: 78px;
          height: 3px;
          background: #ffb100; }
        #siteBottom .hall .hall2 .left2 p:before {
          content: '';
          position: absolute;
          width: 3px;
          height: 31px;
          background: #ffb100;
          top: 7px;
          left: 0; }
        #siteBottom .hall .hall2 .left2 h1 {
          position: absolute;
          top: -20px;
          right: 3px;
          font-size: 5rem;
          font-family: 'Titillium Web', sans-serif;
          color: #211f1e;
          font-weight: 900;
          text-shadow: 3px 5px 0px #7d7c7c; }
        #siteBottom .hall .hall2 .left2:after, #siteBottom .hall .hall2 .left2:before {
          clear: both; }
        #siteBottom .hall .hall2 .left2:after {
          content: '';
          width: 500px;
          height: 500px;
          border-radius: 250px;
          background: -webkit-gradient(linear, left bottom, left top, from(#BA4151), color-stop(60%), to(#F4566B));
          background: linear-gradient(to top, #BA4151, 60%, #F4566B);
          position: absolute;
          z-index: 0;
          right: -77px;
          top: 3px; }
    #siteBottom .hall .hall3 {
      position: relative;
      height: 700px;
      background-color: #121212;
      overflow: hidden;
      background-image: url(../../src/images/boxerbcg.jpg);
      background-size: cover;
      background-position: center center;
      -webkit-animation: 5s infinite zoom;
      animation: 5s infinite zoom; }
      #siteBottom .hall .hall3 p {
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.2rem;
        display: block;
        height: 11.5%;
        width: 80%;
        margin: 0 auto;
        text-align: left;
        padding: 12px;
        margin-top: 350px;
        color: #ddd;
        position: relative; }
        #siteBottom .hall .hall3 p:after {
          content: '';
          position: absolute;
          top: 4px;
          left: 0px;
          width: 78px;
          height: 3px;
          background: #ffb100; }
        #siteBottom .hall .hall3 p:before {
          content: '';
          position: absolute;
          width: 3px;
          height: 31px;
          background: #ffb100;
          top: 7px;
          left: 0; }
      #siteBottom .hall .hall3 .boxer {
        position: absolute;
        width: 241px;
        bottom: 37px;
        right: 469px;
        z-index: 9;
        display: none; }
      #siteBottom .hall .hall3 .boxer_active {
        -webkit-transform: scale(1.4) translateY(69px);
        transform: scale(1.4) translateY(69px); }
      #siteBottom .hall .hall3 #arena {
        z-index: 8;
        display: block;
        opacity: 1;
        margin-left: -53px;
        top: 45%;
        -webkit-transform: translateX(-55%);
        transform: translateX(-55%);
        font-size: 8.3rem;
        -webkit-transition: 3s all cubic-bezier(0.38, 0.38, 0.54, 0.54);
        transition: 3s all cubic-bezier(0.38, 0.38, 0.54, 0.54); }
      #siteBottom .hall .hall3 .arena_active {
        -webkit-transform: translateX(-37%) !important;
        transform: translateX(-37%) !important; }
      #siteBottom .hall .hall3 .fog {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../../src/images/fog.png");
        background-repeat: repeat;
        background-position-x: 0;
        background-size: 95%;
        bottom: 0;
        left: 0;
        z-index: 11;
        opacity: .4;
        -webkit-animation: 15s fogger infinite;
        animation: 15s fogger infinite; }
@-webkit-keyframes fogger {
  0% {
    background-position-x: 0; }
  50% {
    background-position-x: 100%; }
  100% {
    background-position-x: 0; } }
@keyframes fogger {
  0% {
    background-position-x: 0; }
  50% {
    background-position-x: 100%; }
  100% {
    background-position-x: 0; } }
      #siteBottom .hall .hall3 span,
      #siteBottom .hall .hall3 #fighting {
        position: absolute;
        top: 25%;
        right: 0px;
        font-family: 'CaptureIt', sans-serif;
        -webkit-transform: translateY(-15%);
        transform: translateY(-15%);
        color: #ff8d00;
        z-index: 11;
        font-size: 12.5rem;
        opacity: .9;
        -webkit-transition: 3.5s all cubic-bezier(0.1, 0.58, 0.39, 1.06);
        transition: 3.5s all cubic-bezier(0.1, 0.58, 0.39, 1.06); }
      #siteBottom .hall .hall3 .span_active {
        right: 100px !important; }
    #siteBottom .hall .hall4 {
      height: 700px; }
      #siteBottom .hall .hall4 .left {
        width: 50%;
        float: left;
        height: 100%;
        background-size: cover;
        background-image: url(../../mekan1.jpg);
        background-position: center center;
        background-repeat: no-repeat; }
      #siteBottom .hall .hall4 .right {
        position: relative;
        width: 50%;
        float: left;
        height: 100%;
        background: #d47d88; }
        #siteBottom .hall .hall4 .right h1 {
          position: absolute;
          top: -20px;
          right: 3px;
          font-size: 5rem;
          font-family: 'Titillium Web', sans-serif;
          color: #032135;
          font-weight: 900;
          text-shadow: 3px 5px 0px #111;
          z-index: 9; }
        #siteBottom .hall .hall4 .right:after, #siteBottom .hall .hall4 .right:before {
          clear: both; }
        #siteBottom .hall .hall4 .right:after {
          content: '';
          position: absolute;
          width: 687px;
          height: 300px;
          background: #dc2142;
          left: -150px;
          top: 50px;
          z-index: 0; }
    #siteBottom .hall .box-show {
      transform: scale(1) !important; }
    #siteBottom .hall .hall5 {
      width: 100%;
      height: 500px;
      position: relative;
      background-image: url("../../src/images/mekan4.jpg");
      background-size: cover;
      background-position: center; }
      #siteBottom .hall .hall5 #boxer1 {
        position: absolute;
        bottom: -5%;
        right: 20%;
        height: 100%;
        pointer-events: none;
        user-select: none;
        transform: scale(0.5);
        transition: 1s all; }
      #siteBottom .hall .hall5 #fog {
        position: absolute;
        bottom: -35%;
        width: 130%;
        opacity: .18;
        pointer-events: none;
        user-select: none; }
      #siteBottom .hall .hall5 p {
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 15%;
        font-size: 125px;
        color: #fff;
        display: block;
        z-index: 11;
        font-family: 'CaptureIt', sans-serif;
        font-weight: 400; }
        #siteBottom .hall .hall5 p b {
          opacity: .7;
          display: block;
          font-size: 90px;
          opacity: 0.2;
          display: block;
          transform: translateY(50%) rotate(4deg); }
        #siteBottom .hall .hall5 p span {
          opacity: .7;
          display: block;
          font-size: 90px;
          opacity: 0.2;
          display: block;
          transform: translateY(-50%) rotate(-4deg); }

footer {
  display: block;
  width: 100%;
  background: #211f1e;
  padding: 50px 0;
  position: relative; }
  footer .sol {
    width: 30%;
    float: left; }
    footer .sol img {
      display: block;
      position: relative;
      width: 50%;
      margin: 0 auto; }
  footer .sag {
    text-align: right;
    width: 70%;
    float: right;
    padding: 0 30px; }
    footer .sag a {
      display: block;
      text-align: right;
      color: #eee;
      text-decoration: none;
      font-family: sans-serif;
      font-weight: 200;
      font-size: 14px;
      -webkit-transform: translateY(-45px);
      transform: translateY(-45px);
      margin-bottom: 15px; }
      footer .sag a:last-child {
        margin-bottom: 0; }
      footer .sag a span {
        font-weight: 600;
        margin-right: 10px;
        display: inline-block; }
  footer .socials {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center; }
    footer .socials a {
      display: inline-block;
      padding: 0 7px; }
      footer .socials a img {
        width: 35px; }
      footer .socials a:hover {
        opacity: .6; }
  footer .copy {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: 200;
    opacity: .6;
    font-family: sans-serif; }
    footer .copy a {
      color: #fff;
      text-decoration: none; }
    footer .copy span {
      color: #3bb0ec; }

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #333 url("../../src/images/box1.gif") no-repeat center center; }

.coverphoto {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  left: 0; }
  .coverphoto img {
    width: 100%; }

#hakkimizda {
  background: #252322;
  overflow-x: hidden; }

.altfoot {
  width: 112%;
  -webkit-transform: translateX(-5%);
  transform: translateX(-5%);
  margin: 100px 0 0; }

.altfoot2 {
  width: 112%;
  -webkit-transform: translateX(-5%);
  transform: translateX(-5%);
  margin: 0 0 0; }

.adress {
  text-align: center;
  margin: 80px auto;
  width: 50%;
  display: block; }
  .adress .adress-item {
    margin-bottom: 70px; }
  .adress h3 {
    font-size: 3rem;
    font-family: 'USAAF', sans-serif;
    color: #fff;
    display: block;
    margin-top: 80px; }
    .adress h3 span {
      font-family: 'Titilium', sans-serif !important;
      font-weight: 900;
      font-size: 40px;
      transform: translateY(-3px);
      display: inline-block;
      opacity: .4; }
  .adress h4 {
    font-size: 1.5rem;
    font-family: 'USAAF', sans-serif;
    display: inline-block;
    padding: 8px 15px 5px;
    background: #ffb100;
    color: #252322;
    margin: 20px 0 0px; }
  .adress a {
    color: #ddd;
    font-size: 1.2rem;
    margin: 20px 0;
    text-decoration: none;
    font-family: 'Titilium', sans-serif;
    display: block; }
    .adress a:hover {
      color: #fff; }

.tels {
  text-align: center;
  display: block;
  width: 48%;
  margin: 100px auto; }
  .tels h3 {
    font-size: 3rem;
    font-family: 'USAAF', sans-serif;
    color: #fff; }
  .tels a {
    color: #666;
    font-size: 1.2rem;
    margin: 20px 0;
    text-decoration: none;
    font-family: 'USAAF', sans-serif;
    display: inline-block;
    width: 19%; }
    .tels a:hover {
      color: #ddd; }

#maps {
  width: 100%;
  display: block;
  position: relative; }
  #maps:hover div {
    display: block; }
  #maps img {
    width: 100%;
    display: block;
    position: relative; }
  #maps div {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 23, 0.9); }
    #maps div p {
      position: absolute;
      top: 50%;
      text-align: center;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #ddd;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: 'Titilium', sans-serif; }
      #maps div p img {
        width: 80px;
        margin-top: 50px;
        margin: 0 auto; }

.d1 {
  position: relative;
  z-index: 10; }

.d2 {
  position: relative;
  z-index: 9; }

.d3 {
  position: relative;
  z-index: 10; }

.d4 {
  position: relative;
  z-index: 11; }

.d5 {
  -webkit-transform: skewX(25deg) !important;
  transform: skewX(25deg) !important;
  background: #252322 !important; }

.d5 .detay1 {
  -webkit-transform: translate(-50%, -50%) skewX(-25deg);
  transform: translate(-50%, -50%) skewX(-25deg); }

.d5 .detay1 h3 {
  font-size: 6.5rem !important;
  text-align: right !important;
  position: absolute;
  top: -20px;
  right: 10px;
  font-weight: 900 !important;
  opacity: .8; }

#d1s1 {
  color: #dc2142;
  font-size: 2.7rem;
  line-height: 3rem; }

#d1s2 {
  opacity: .9; }

#d1s3 {
  opacity: .8;
  color: #ffb100; }

.d5 .detay1 p {
  color: #fff !important;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  display: block;
  height: 7%;
  text-overflow: ellipsis;
  overflow: hidden;
  bottom: 0;
  position: relative;
  margin-top: 264px;
  text-align: right;
  padding: 12px; }

.hall2 .detay2 h3 {
  font-size: 6.5rem !important;
  position: absolute;
  top: -40px;
  left: 95px;
  font-weight: 900 !important;
  opacity: 1;
  z-index: 4;
  float: right !important;
  text-align: left !important; }

#d2s1 {
  color: #ffb100;
  font-style: italic; }

#d2s2 {
  opacity: 1;
  margin-left: -80px;
  display: block;
  margin-top: 25px;
  height: 0; }

#d2s3 {
  opacity: 1;
  margin-left: 100px;
  margin-top: -20px;
  text-shadow: 7px 4px 11px rgba(62, 15, 15, 0.45); }

.hall2 .detay2 p {
  color: #fff !important;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  display: block;
  height: 11.5%;
  width: 80%;
  text-align: left;
  padding: 12px;
  margin-top: 340px;
  position: relative; }

#d3s1 {
  color: #000000 !important;
  margin-top: 500px !important;
  text-shadow: 1px 1px 2px #aaa; }

header {
  z-index: 99;
  display: block;
  position: relative; }
  header nav {
    padding: 10px; }
    header nav #burger {
      float: left;
      position: fixed; }
      header nav #burger i {
        padding: 10px;
        font-size: 3rem;
        color: #f4f4f4;
        font-weight: 100; }
      header nav #burger:after, header nav #burger:before {
        clear: both; }
    header nav h1 {
      position: fixed;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      font-size: 2.3rem;
      font-weight: 900;
      margin: 0;
      padding: 10px;
      font-family: 'Titillium Web', sans-serif;
      color: #fdfdfd;
      letter-spacing: 1px; }
  header .topmenu {
    position: fixed;
    top: -350px;
    left: 0;
    width: 100%;
    height: 250px;
    background: #252322;
    display: block;
    z-index: 10;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all 0.2s;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all 0.2s; }
    header .topmenu .top {
      position: relative;
      width: 100%;
      height: 50px;
      border-bottom: 1px solid #2a292a; }
      header .topmenu .top .socials {
        position: absolute;
        top: 0;
        padding: 17px 0;
        right: 50px;
        font-family: 'Titillium Web', sans-serif; }
        header .topmenu .top .socials span {
          padding: 0px 10px;
          border-right: 1px solid #383434; }
          header .topmenu .top .socials span:last-child {
            border-right: 0px solid transparent; }
          header .topmenu .top .socials span a {
            -webkit-transition: .2s all linear;
            transition: .2s all linear;
            text-decoration: none;
            font-size: .8rem;
            color: #7a7575;
            font-weight: 700; }
          header .topmenu .top .socials span:hover > a {
            color: #fdfdfd; }
      header .topmenu .top #close {
        position: absolute;
        top: 0px;
        left: 50px;
        cursor: pointer;
        -webkit-transition: .2s all linear;
        transition: .2s all linear;
        color: #7a7575; }
        header .topmenu .top #close:hover {
          color: #fdfdfd !important; }
        header .topmenu .top #close i {
          font-size: 3.8rem; }
        header .topmenu .top #close:after {
          content: 'KAPAT';
          font-family: 'Titillium Web', sans-serif;
          font-size: 1.4rem;
          position: absolute;
          left: 30px;
          top: 17px; }
    header .topmenu .bottom {
      position: relative;
      width: 100%;
      height: 100px; }
      header .topmenu .bottom ul {
        width: 100%;
        display: block; }
        header .topmenu .bottom ul li {
          position: relative;
          cursor: pointer;
          float: left;
          padding: 20px 0;
          text-align: center;
          width: 24.90%;
          border-right: 1px solid #2a292a; }
          header .topmenu .bottom ul li:last-child {
            border-right: 0px solid transparent; }
          header .topmenu .bottom ul li a:hover > svg {
            stroke-dashoffset: 3; }
          header .topmenu .bottom ul li a:hover > span {
            color: #fdfdfd; }
          header .topmenu .bottom ul li a svg {
            display: inline-block;
            width: 40%;
            -webkit-transition: 1s all linear;
            transition: 1s all linear;
            fill: none;
            stroke: white;
            stroke-width: 1;
            stroke-dasharray: 800;
            stroke-dashoffset: -800;
            padding: 20px 0; }
          header .topmenu .bottom ul li a span {
            position: absolute;
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            color: #7a7575;
            font-family: 'Titillium Web', sans-serif;
            font-weight: 700;
            font-size: 1.4rem;
            -webkit-transition: .5s all linear;
            transition: .5s all linear; }
  header .menuactive {
    z-index: 5;
    top: 0 !important; }

@font-face {
  font-family: 'CaptureIt';
  src: url("../../src/fonts/CaptureIt/Capture_it.ttf") format("truetype"); }
@font-face {
  font-family: 'CaptureIt2';
  src: url("../../src/fonts/CaptureIt/Capture_it_2.ttf") format("truetype"); }
@font-face {
  font-family: 'USAAF';
  src: url("../../src/fonts/USAAF/USAAF_Stencil.ttf") format("truetype"); }
@font-face {
  font-family: 'USAAFSerial';
  src: url("../../src/fonts/USAAF/USAAF_Serial_Stencil.ttf") format("truetype"); }
.coaches {
  overflow: scroll;
  background: #252322 !important; }

#egitmenHeader {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
  transform: translate(-50%, -30%);
  font-size: 6.8rem;
  color: #fff;
  font-family: 'USAAF', sans-serif;
  font-weight: 400; }

#egitmenP {
  position: fixed;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -75%);
  transform: translate(-50%, -75%);
  font-size: 1.4rem;
  color: #fff;
  opacity: .7;
  letter-spacing: 1.2;
  font-family: 'CaptureIt', sans-serif;
  font-weight: 400;
  text-align: center; }
  #egitmenP p {
    -webkit-transition: .1s all linear;
    transition: .1s all linear; }
  #egitmenP p:last-child {
    font-size: 2.5rem;
    -webkit-animation: .5s hocalarArrow infinite;
    animation: .5s hocalarArrow infinite; }
    #egitmenP p:last-child:hover {
      -webkit-transform: translateY(15px);
      transform: translateY(15px); }
@-webkit-keyframes hocalarArrow {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes hocalarArrow {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
#coachList {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  width: 90%;
  max-width: 90%;
  background: #252322; }
  #coachList .spordetay {
    width: 85%;
    display: block;
    position: relative;
    margin: 0 auto; }
    #coachList .spordetay h2 {
      margin-top: 50px;
      font-size: 30px;
      color: #fff;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 600;
      margin-bottom: 30px; }
    #coachList .spordetay b {
      color: #b2b2b2;
      font-family: 'Titillium Web', sans-serif;
      font-size: 18px;
      line-height: 28px; }
  #coachList p {
    color: #b2b2b2;
    padding: 100px 0 50px;
    width: 80%;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    line-height: 28px; }
  #coachList section {
    position: relative;
    width: 100%; }
    #coachList section ul {
      width: 100%;
      display: block;
      overflow: hidden; }
      #coachList section ul li {
        position: relative;
        float: left;
        width: 25%;
        -webkit-box-shadow: 0 0 .5px #252525;
        box-shadow: 0 0 .5px #252525;
        overflow: hidden; }
        #coachList section ul li a img {
          width: 100%;
          -webkit-transition: .1s all ease;
          transition: .1s all ease; }
        #coachList section ul li a span {
          position: absolute;
          color: #fff;
          opacity: .6;
          font-family: 'CaptureIt', sans-serif;
          bottom: 20px;
          left: 15px;
          font-size: 1.3rem;
          display: block;
          z-index: 2;
          -webkit-transition: .1s all ease;
          transition: .1s all ease;
          text-transform: uppercase; }
        #coachList section ul li a .skills {
          position: absolute;
          width: 110%;
          height: 110px;
          display: block;
          -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
          background: #ffb100;
          left: -10%;
          bottom: -100%;
          z-index: 1;
          -webkit-transition: .1s all ease;
          transition: .1s all ease; }
        #coachList section ul li:hover > a > .skills {
          bottom: -12%; }
        #coachList section ul li:hover > a > span {
          font-size: 1.45rem;
          opacity: 1;
          color: #222; }
        #coachList section ul li:hover > a > img {
          -webkit-transform: translateY(-5px);
          transform: translateY(-5px); }

.coachesDetail {
  background: #111 !important; }

#egitmendetay {
  width: 100%; }

.swiper-slide {
  background-color: #111;
  position: relative; }
  .swiper-slide img {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width: 500px; }
  .swiper-slide .name {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 20%;
    -webkit-transform: translate(-10%, 0%);
    transform: translate(-10%, 0%);
    display: block;
    color: #fff;
    font-family: 'USAAF', sans-serif;
    font-size: 5.5rem; }
  .swiper-slide .skill {
    position: absolute;
    top: 45%;
    right: 5%;
    width: 20%;
    -webkit-transform: translate(-10%, 0%);
    transform: translate(-10%, 0%);
    display: block;
    text-align: center; }
    .swiper-slide .skill span {
      position: relative;
      display: block; }
      .swiper-slide .skill span #spor-icons {
        position: relative;
        display: block;
        width: 50px;
        margin: 0 10px;
        padding: 10px;
        float: left; }
        .swiper-slide .skill span #spor-icons:after, .swiper-slide .skill span #spor-icons:before {
          clear: both; }
        .swiper-slide .skill span #spor-icons img {
          position: relative;
          display: block;
          width: 100%;
          -webkit-box-shadow: 0 0 1px #fff;
          box-shadow: 0 0 1px #fff;
          border-radius: 50%;
          padding: 10px; }
        .swiper-slide .skill span #spor-icons:before {
          content: attr(sportname);
          font-size: 16px;
          position: absolute;
          color: #fff;
          bottom: -25px;
          left: 0;
          width: 100%;
          text-align: center;
          font-family: 'USAAF', sans-serif; }

.swiper-button-next {
  top: 26px !important;
  right: 25px !important; }

.swiper-button-prev {
  right: 70px !important;
  top: 26px !important;
  left: auto !important; }

.gridtext2 {
  position: absolute;
  z-index: 9;
  top: 39px;
  right: 162px;
  font-family: 'USAAF', sans-serif;
  color: #fff;
  -webkit-transition: .1s all ease;
  transition: .1s all ease; }

.grid2 {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-bottom: -8px;
  z-index: 9;
  position: absolute;
  top: 36px;
  right: 132px; }
  .grid2:hover ~ .gridtext2 {
    opacity: 1;
    visibility: visible; }
  .grid2:hover > #m1 {
    top: -2.5px;
    left: -2.5px; }
  .grid2:hover > #m2 {
    top: -2.5px; }
  .grid2:hover > #m3 {
    top: -2.5px;
    left: 17.5px; }
  .grid2:hover > #m4 {
    left: -2.5px; }
  .grid2:hover > #m6 {
    left: 17.5px; }
  .grid2:hover > #m7 {
    top: 17.5px;
    left: -2.5px; }
  .grid2:hover > #m8 {
    top: 17.5px; }
  .grid2:hover > #m9 {
    top: 17.5px;
    left: 17.5px; }
  .grid2 span {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    -webkit-transition: .15s all ease;
    transition: .15s all ease; }
  .grid2 #m1 {
    top: 0;
    left: 0; }
  .grid2 #m2 {
    top: 0px;
    left: 7.5px; }
  .grid2 #m3 {
    top: 0;
    left: 15.5px; }
  .grid2 #m4 {
    top: 7.5px;
    left: 0; }
  .grid2 #m5 {
    top: 7.5px;
    left: 7.5px; }
  .grid2 #m6 {
    top: 7.5px;
    left: 15.5px; }
  .grid2 #m7 {
    top: 15.5px;
    left: 0; }
  .grid2 #m8 {
    top: 15.5px;
    left: 7.5px; }
  .grid2 #m9 {
    top: 15.5px;
    left: 15.5px; }

@media screen and (max-width: 920px) {
  #renkli-hero {
    display: block;
    -webkit-filter: drop-shadow(0 0px 25px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0 0px 25px rgba(0, 0, 0, 0.4)); }

  #normal-hero {
    display: none; }

  #logo {
    background-image: url(../../src/images/mobile-back.png);
    background-size: cover;
    background-ition: center center;
    background-repeat: no-repeat; }

  #siteBottom .trainersWrapper #sporlar li span {
    width: 250px;
    height: 250px; }

  #siteBottom .trainersWrapper #tumunu a {
    margin: 50px auto 0; }

  #siteBottom .trainersWrapper h1 {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 4.1rem; }

  #siteBottom .trainersWrapper .band {
    background: rgba(1, 255, 107, 0.11); }

  #d3s1 {
    color: #fff !important;
    margin-top: 340px !important; }

  header nav #burger {
    top: 20px; }

  header nav #burger i {
    font-size: 2rem; }

  #logo svg {
    display: none; }

  #logoNav {
    width: 150px !important; }

  header .topmenu .bottom ul li {
    width: 100%;
    padding: 20px 0; }

  video {
    display: none; }

  header .topmenu {
    height: 50vh;
    top: -150vh; }

  header .topmenu .top {
    position: static; }

  header .topmenu .top .socials {
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    width: 100%;
    text-align: center;
    top: auto; }

  header .topmenu .top .socials span a {
    font-size: 1rem; }

  header .topmenu .bottom ul li a svg {
    display: none; }

  #siteBottom .trainersWrapper #sporlar {
    width: 90%; }

  #siteBottom .trainersWrapper #sporlar li {
    width: 100%; }

  #siteBottom .hall1 {
    background: #252322;
    background-image: url(../../src/images/tenismobil.png);
    background-size: cover; }

  #siteBottom .hall .hall1 .left {
    display: none; }

  #siteBottom .hall .hall1 .right {
    width: 100%;
    background: transparent !important; }

  #siteBottom .hall .detay1 {
    width: 90%; }
    #siteBottom .hall .detay1 h3 {
      font-size: 4rem !important;
      right: 50% !important;
      -webkit-transform: translateX(50%) !important;
      transform: translateX(50%) !important;
      line-height: 5rem; }
    #siteBottom .hall .detay1 p {
      height: 150px !important; }

  #siteBottom .hall .hall1 {
    height: auto;
    min-height: 600px; }

  #siteBottom .hall .hall2 {
    height: auto;
    min-height: 600px; }

  #siteBottom .hall .hall2 .left2 {
    width: 100%;
    background-size: cover;
    background-image: url(../../src/images/fitnessmobil.png) !important; }

  #siteBottom .hall .hall2 .right {
    display: none; }

  #siteBottom .hall .hall2 .left2:after {
    display: none; }

  #siteBottom .hall2 .detay2 {
    width: 100%; }

  #siteBottom .hall2 .detay2 h3 {
    font-size: 4rem !important;
    text-align: left !important;
    width: 80% !important;
    margin: 0 auto !important;
    position: relative !important;
    left: 0 !important;
    top: 50px !important;
    float: none !important; }
    #siteBottom .hall2 .detay2 h3 span {
      margin-left: 0 !important; }

  #siteBottom .hall2 .detay2 p {
    position: relative !important;
    margin: 100px auto 0 !important;
    width: 80% !important; }

  #siteBottom .hall .hall3 {
    height: auto;
    min-height: 600px;
    background: url(../../src/images/havuzmobil.jpg);
    background-size: cover; }

  #siteBottom .hall .hall3 span, #siteBottom .hall .hall3 #fighting {
    font-size: 4rem;
    right: 40px !important; }

  #siteBottom .hall .hall3 #arena {
    font-size: 4rem;
    top: 35%;
    -webkit-transform: translateX(-30px) !important;
    transform: translateX(-30px) !important; }

  #siteBottom .hall .hall3 span, #siteBottom .hall .hall3 #fighting {
    color: #fff;
    top: 25%; }

  .span_active {
    right: 10px !important; }

  footer .sol {
    width: 100%;
    position: relative;
    display: block; }
    footer .sol img {
      opacity: .4; }

  footer .sag {
    width: 100%;
    position: relative;
    display: block;
    width: 85%;
    float: none;
    padding: 0;
    margin: 50px auto 100px; }
    footer .sag a {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      margin-bottom: 20px;
      text-align: center; }

  footer .socials {
    top: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 50px; }

  #coachList {
    top: 200px;
    width: 100%;
    max-width: 100%; }

  #egitmenHeader {
    top: 115px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 3rem; }

  #coachList p {
    padding: 60px 0 50px;
    width: 95%; }

  #coachList section ul li {
    width: 100%; }

  .altfoot2, .altfoot {
    width: 90%;
    background: #252322;
    -webkit-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
    margin: 0 auto; }

  .adress {
    margin: 50px auto 0;
    width: 100%;
    text-align: center; }

  .tels {
    width: 100%;
    text-align: center;
    float: none;
    margin: 0 auto 50px; }
    .tels h3 {
      margin-bottom: 20px; }
    .tels a {
      width: 33%; } }
@media screen and (min-width: 921px) and (max-width: 1023px) {
  #siteBottom .trainersWrapper #sporlar li span {
    width: 200px;
    height: 200px; }

  #siteBottom .hall .hall1 .left .salonu {
    font-size: 6rem;
    font-weight: 500; }

  #siteBottom .hall .hall2 .left2 {
    width: 65%; }

  #siteBottom .hall .hall2 .right {
    width: 35%; }

  #coachList {
    top: 40%; } }
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  #coachList {
    top: 60%; } }

/*# sourceMappingURL=style.css.map */
