
@font-face {
  font-family: 'CaptureIt';
  src: url('../../src/fonts/CaptureIt/Capture_it.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'CaptureIt2';
  src: url('../../src/fonts/CaptureIt/Capture_it_2.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'USAAF';
  src: url('../../src/fonts/USAAF/USAAF_Stencil.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'USAAFSerial';
  src: url('../../src/fonts/USAAF/USAAF_Serial_Stencil.ttf')  format('truetype'), /* Safari, Android, iOS */
}